block content
	.top-info
		.bread-comb Borrower / Dashboard
		.rating My Rating
			span A1
	.row
		.col-md-6
			.card-frame.currunt-loan
				h5 Current Loan Total
				.pie-box
					.pie-chart
					.day-left Day Left: 20days
		.col-md-6
			.card-frame.announce-content
				h5 Announcement
				span.view-all View All
				ul.announ-list
					li 
						p Alchemy services will temporarily close for system maintenance
						p.date 2018-10-10
					li 
						p Alchemy services will temporarily close for system maintenance
						p.date 2018-10-10
					li 
						p Alchemy services will temporarily close for system maintenance
						p.date 2018-10-10
					li 
						p Alchemy services will temporarily close for system maintenance
						p.date 2018-10-10
					li 
						p Alchemy services will temporarily close for system maintenance
						p.date 2018-10-10