block content
	.top-info
		.row
			.col-sm-6
				ol.breadcrumb
					li
						a(href="#") Borrower
					li
						a(href="#") Dashboard
			.col-sm-6
				.rating
					img(src="../public/images/rating_pic.png", alt="")
					|My Rating
					span.rating-level A1
	.row
		.col-md-4.col-sm-6
			.card-frame.currunt-loan
				h6 Current Loan Total
				.pie-box
					.pie-chart(data-percent="10")
						.pc-progress
							.pc-progress-fill
						.pc-info
							.goal GOAL
							.goal-amount $2000.00
							.current Current Total
							.current-amount $200.00
					.day-left Day Left:
						span 20
						|days
		.col-md-4.col-sm-6
			.card-frame.announce-content
				h6 Announcement
					a.view-all View All
				ul.announ-list
					li 
						p Alchemy services will temporarily close for system maintenance
						p.date 2018-10-10
					li 
						p Alchemy services will temporarily close for system maintenance
						p.date 2018-10-10
					li 
						p Alchemy services will temporarily close for system maintenance
						p.date 2018-10-10
					li 
						p Alchemy services will temporarily close for system maintenance
						p.date 2018-10-10
					li 
						p Alchemy services will temporarily close for system maintenance
						p.date 2018-10-10