block content
    .top-info
        .row
            .col-sm-6
                ol.breadcrumb
                    li
                        a(href="#") Borrower
                    li
                        a(href="#") History
    .biggest-chagepass-wrapper
        .change-wrapper
            .col-md-4.col-md-offset-0.col-sm-10.col-sm-offset-1.col-xs-12
                .card-frame.history-wrapper-content
                    h6 Payment Record
                        a.view-all View All
                    .b_history-table
                        .t-head
                            div Amount
                            div Date
                        .t-body
                            .t-row
                                div $30540
                                .date 2017-12-11
                            .t-row
                                div $51100
                                .date 2017-12-11
                            .t-row
                                div $50880.32
                                .date 2017-12-11                 
                            .t-row
                                div $50880.32
                                .date 2017-12-11                           
                            .t-row
                                div $50880.32
                                .date 2017-12-11                             
                    .history-page-number
                        nav(aria-label='Page navigation')
                            ul.pagination.pagination-sm
                                li
                                    a(href='#', aria-label='Previous')
                                        span(aria-hidden='true') «
                                li.active
                                    a(href='#') 1
                                li
                                    a(href='#') 2
                                li
                                    a(href='#') 3
                                li
                                    a(href='#', aria-label='Next')
                                        span(aria-hidden='true') »




