block newLoan-nav
    ol.newloan-nav
        li.step1.active 
            span Personal
        li.step2 
            span Loan
        li.step3
            span Education
        li.step4 
            span Financial
        li.step5
            span Connect Bank
        li.step6
            span Supplementary
        li.step7 
            span Review

