block content
    .top-info
        .row
            .col-sm-6
                ol.breadcrumb
                    li
                        a(href="#") Borrower
                    li
                        a(href="#") Installment Plan
            .col-sm-6
                .rating
                    img(src="../public/images/rating_pic.png", alt="")
                    |My Rating
                    span.rating-level A1
    .row
        .col-sm-8.col-sm-offset-2.col-xs-12
            .card-frame.installment
                h6 Installment Plan


                .n-payment
                    b Next Payment
                    p Amount:
                        span.blue-text $200
                    p Due Date:
                        span.gray-text 2018/03/22

                .t-amount
                    b Total Amount
                    p Paid: 
                        span.orange-text $1300
                        span /$2600
                .progress
                    .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100', style='width:50%')
                        | 50%
                a.btn.green-btn Payment
                h6 Payment Record
                .install-table
                    .t-head(data-toggle="collapse" data-target="#ins-record" aria-expanded="false")
                        div Amount
                        div Date
                    #ins-record.t-body.collapse
                        .t-row
                            div $20
                            div 2018-2-21
                        .t-row
                            div $20
                            div 2018-2-21
                        .t-row
                            div $20
                            div 2018-2-21
                        .t-row
                            div $20
                            div 2018-2-21
                        .t-row
                            div $20
                            div 2018-2-21
