block content
    .biggest-chagepass-wrapper
        .change-wrapper
            .col-sm-12.col-md-3
                .card-frame.change-wrapper-cotent
                    span.contact2-form-title Change Password
                    .wrap-input2.validate-input(data-validate='Oldpassword is required')
                        input.input2(name='Oldpassword', type='text')
                        span.focus-input2(data-placeholder='Oldpassword')
                    .wrap-input2.validate-input(data-validate='Newpassword is required')
                        input.input2(name='Newpassword', type='text')
                        span.focus-input2(data-placeholder='Newpassword')
                    .button-wrapper
                        button.login-button Update Password


