block header	
	header
		.header-nav-wrapper
			#mob-nav-icon
				span
				span
				span
				span
			.customer-icon
		#alch-back.sidenav
			a(href='#') Dashboard
			a(href='#') Start a New Loan
			a(href='#') My Loan
			a(href='#') Setting
	.mob-header-bg