block header	
	header
		.header-nav-wrapper
			#mob-nav-icon
				span
				span
				span
				span
			.customer-icon
		#alch-back.sidenav
			a(href='#')
				img(src='../public/images/logo.png')
			a(href='#') 
				| Dashboard
				span.icon-plus
			a(href='#') 
				| Start a New Loan
				span.icon-plus
			a(href='#') 
				| My Loan
				span.icon-plus
			a(href='#') 
				| Setting
				span.icon-plus
	.mob-header-bg