block content
    .biggest-chagepass-wrapper
        .login-wrapper.change-wrapper
            .col-xs-12.col-sm-6.col-md-4
                .card-frame.history-wrapper-cotent
                    h6 History
                        a.view-all View All
                    .transaction-table
                        .t-head
                            div Type
                            div Status
                            div Amount
                        .t-body
                            .t-row.cashIn
                                div Cash In
                                    .date 2017-12-11
                                div.pending
                                div $30540
                            .t-row.cashIn
                                div Cash In
                                    .date 2017-12-11
                                div.confirm
                                div $51100
                            .t-row.cashOut
                                div Cash Out
                                    .date 2017-12-11
                                div.pending
                                div $50880.32
                            .t-row.cashOut
                                div Cash Out
                                    .date 2017-12-11
                                div.pending
                                div $50880.32
                            .t-row.cashOut
                                div Cash Out
                                    .date 2017-12-11
                                div.error
                                div $50880.32
                    .history-page-number
                        nav(aria-label='Page navigation')
                            ul.pagination.pagination-sm
                                li
                                    a(href='#', aria-label='Previous')
                                        span(aria-hidden='true') «
                                li.active
                                    a(href='#') 1
                                li
                                    a(href='#') 2
                                li
                                    a(href='#') 3
                                li
                                    a(href='#') 4
                                li
                                    a(href='#') 5
                                li
                                    a(href='#', aria-label='Next')
                                        span(aria-hidden='true') »




