block content
    .top-info
        .row
            .col-sm-6
                ol.breadcrumb
                    li
                        a(href="#") Lender
                    li
                        a(href="#") Dashboard
            //- .col-sm-6
            //- 	.rating
            //- 		img(src="../public/images/rating_pic.png", alt="")
            //- 		|My Rating
            //- 		span.rating-level A1
    .row
        .col-md-4.col-sm-12
            .card-frame.currunt-invest
                h6 The Current Investment
                ul.invest-total
                    li  Total:
                    li  $3000
                ul.invest-detail
                    li  Invested Project:
                        span 3
                    li  Average annual interest rate:
                        span 7%
                    li  Estimated expiry rate of return:
                        span 14.85%
        .col-md-4.col-sm-6
            .card-frame.last-transaction
                h6 Last Transaction
                    a.view-all View All
                .transaction-table
                    .t-head
                        .t-row
                            div Type
                            div Status
                            div Amount
                        .t-row
                            div.cashIn Cash In
                            div.pending
                            div $30540
                            div(colspan="3") 2017-12-11 13:22:22
                        .t-row
                            div.cashIn Cash In
                            div.confirm
                            div $51100
                        .t-row
                            div(colspan="3") 2017-12-11 13:22:22
                        .t-row
                            div.cashIn Cash In
                            div.confirm
                            div $53300.11
                        .t-row
                            div(colspan="3") 2017-12-11 13:22:22
                        .t-row
                            div.cashOut Cash Out
                            div.pending
                            div $50880.32
                            div2017-12-11 13:22:22
                        .t-row
                            div.cashIn Cash In
                            div.confirm
                            div $51100.45
                            div 2017-12-11 13:22:22

        .col-md-4.col-sm-6
            .card-frame.announce-content
                h6 Announcement
                    a.view-all View All
                ul.announ-list
                    li 
                        p Alchemy services will temporarily close for system maintenance
                        p.date 2018-10-10
                    li 
                        p Alchemy services will temporarily close for system maintenance
                        p.date 2018-10-10
                    li 
                        p Alchemy services will temporarily close for system maintenance
                        p.date 2018-10-10
                    li 
                        p Alchemy services will temporarily close for system maintenance
                        p.date 2018-10-10
                    li 
                        p Alchemy services will temporarily close for system maintenance
                        p.date 2018-10-10