block content
	.total-capital
		h5 Total
		h5 14,292,734
	ul.explore_tab
		li
			a(href="#") All
		li
			a(href="#") New
		li
			a(href="#") Popular
		li
			a(href="#") High Rating
		li
			a(href="#") Coming to End
	.top-info
		.row
			.col-sm-6
				ol.breadcrumb
					li
						a(href="#") Lender
					li
						a(href="#") Explore
		.row
			.col-md-4.col-sm-12
				.card-frame.explore-card
					.card-rating Rating: A1
					.explore-tag.new
					.row
						.col-xs-4
							.interest-rate 5%
							p Annual interest rate
						.col-xs-4
							.invest-bal $1,000,000
							p Investment balance
						.col-xs-4
							.instellment 12
							p Installments (months)
						.col-xs-12 
							p schedule:
						.col-xs-9
							.progress
								.progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width:60%')
									| 60% Complete
						.col-xs-3
							.day-left 233
								span d left
			.col-md-4.col-sm-12
				.card-frame.explore-card
					.card-rating Rating: A1
					.explore-tag.popular
					.row
						.col-xs-4
							.interest-rate 5%
							p Annual interest rate
						.col-xs-4
							.invest-bal $1,000,000
							p Investment balance
						.col-xs-4
							.instellment 12
							p Installments (months)
						.col-xs-12 
							p schedule:
						.col-xs-9
							.progress
								.progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width:60%')
									| 60% Complete
						.col-xs-3
							.day-left 233
								span d left
			.col-md-4.col-sm-12
				.card-frame.explore-card
					.card-rating Rating: A1
					.explore-tag.high
					.row
						.col-xs-4
							.interest-rate 5%
							p Annual interest rate
						.col-xs-4
							.invest-bal $1,000,000
							p Investment balance
						.col-xs-4
							.instellment 12
							p Installments (months)
						.col-xs-12 
							p schedule:
						.col-xs-9
							.progress
								.progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width:60%')
									| 60% Complete
						.col-xs-3
							.day-left 233
								span d left
			.col-md-4.col-sm-12
				.card-frame.explore-card
					.card-rating Rating: A1
					.explore-tag.end
					.row
						.col-xs-4
							.interest-rate 5%
							p Annual interest rate
						.col-xs-4
							.invest-bal $1,000,000
							p Investment balance
						.col-xs-4
							.instellment 12
							p Installments (months)
						.col-xs-12 
							p schedule:
						.col-xs-9
							.progress
								.progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width:60%')
									| 60% Complete
						.col-xs-3
							.day-left 233
								span d left