block login-content
    .biggest-login-wrapper
        .login-wrapper
            .col-sm-12.col-md-3.login-wrapper-cotent
                .logo
                    img(src="../public/images/logo-color.png", alt="")
                .tab-content
                    a.active(href='#') borrower
                    a(href='#') Lender
                .wrap-input2.validate-input(data-validate='Name is required')
                    input.input2(name='name', type='text')
                    span.focus-input2(data-placeholder='Username')
                .wrap-input2.validate-input(data-validate='Password is required')
                    input.input2(name='Password', type='text')
                    span.focus-input2(data-placeholder='Password')
                .button-wrapper
                    button.login-button LOGIN
                    a.forgetbutton(href='#') Forget Password (?)
                .button-wrapper2
                    span Don't you have any account ?
                    button.signup-button Register
            .col-md-9.login-wrapper2.hidden-xs
                .grandient-bg
                span.solgan Easily Accessible Personal Loan apply and receive an instant decision
                img.wallpaper(src='../public/images/login-bg.jpg')
            
            
            