block newLoan-nav
    ol.newloan-nav
        li.step1.active Personal
        li.step2 Loan
        li.step3 Education
        li.step4 Financial
        li.step5 Connect Bank
        li.step6 Supplementary
        li.step7 Review

