//最外層
.content-wrapper {
    padding: 70px 1rem 0;
}

//白色的底
.card-frame {
    width: 100%;
    padding: 1rem 2rem;
    margin: 1rem auto;
    box-shadow: .1rem .1rem .3rem .1rem $box-shadow;
    border-radius: .5rem;
    background-color: $card-bg;
    h6 {
        color: $gray-title;
    }
    p {
        margin: 0 0 .5rem;
        line-height: 1.2;
    }
}

//每頁開頭的麵包
.top-info {
    .breadcrumb {
        background-color: inherit;
        font-size: 1.2rem;
        line-height: 3.5rem;
        float: left;
        margin: 0;
        padding: 0;
        a {
            color: $breadcrumb;
        }
    }
    .rating {
        width: 15rem;
        color: $rating-color;
        border: 1px solid $rating-color;
        border-radius: 5px;
        float: right;
        padding-left: 1rem;
        img {
            width: 2rem;
            height: auto;
            margin-right: 10px;
        }
        .rating-level {
            padding-left: 1rem;
            font-weight: bold;
            font-size: larger;
        }
    }
}

//就是 view all
.view-all {
    color: $blue;
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
    &:hover,
    :active,
    :focus {
        color: $orange;
    }
}

//lender dashboard, borrower installment 表格
div[class$=-table] {
    .t-head {
        width: 100%;
        background-color: $formhead-bg;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
    }
    .t-body {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .t-row {
            width: 100%;
            padding: .5rem 1rem;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $under-line;
            background-color: none;
            &:hover {
                background-color: darken($formhead-bg, 3%);
                cursor: pointer;
            }
            >div {
                min-width: 33%;
                align-self: center;
            }
        }
    }
}

.form-btn {
    width: 80%;
    margin: 20px auto;
    a {
        width: 39%;
        min-width: 100px;
        padding: 10px;
        margin: 20px 5%;
        font-size: 1.5rem;
    }
}

.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
    &:hover,
    &:active,
    &:focus {
        background: lighten($blue, 10%);
        color: #fff;
        outline: none !important;
    }
}

.btn-alch {
    background: $blue;
    color: #fff;
    border: 2px solid transparent;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        background: $blue;
    }
}

.green-btn {
    background: $green;
    color: #fff;
    border: none;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        background:lighten($green,10%) t;
    }
}