$green:#52d3aa;
$blue:#3f95ea;
$orange:#f7941d;
$gradient-bg:linear-gradient(45% , $green , #27bdbe);
$newLoan-nav-bg:rgba(82, 211, 170, .2);
$body-bg:#f5fcfc;

$card-bg:#fff;

$bread-comb:#b8b9b9;
$gray-title:#7b7b7b;
$rating-color:$green;


$form-label:#8a9bb3;
$form-hover:#cddedd;


$content-text:#2c2c2c;
$box-shadow:rgba(0, 0, 0,.2); 

$new-badge:#3faefb;
$popular-badge:#f7814d;
$high-badge:#f26d7d;
$end-badge:#006980;