$green:#52d3aa;
$blue:#3f95ea;
$orange:#f7941d;
$gradient-bg:linear-gradient( $green, $blue);
$newLoan-nav-bg:#E3F7F3;
$body-bg:#f5fcfc;

$card-bg:#fff;

$breadcrumb:#b8b9b9;
$gray-title:#7b7b7b;
$rating-color:$green;

$day-left-text:#b8b9b9;
$piechart-bg:linear-gradient($green , $blue);

$form-label:#8a9bb3;
$form-line:#c2c2c2;
$form-hover:#cddedd;
$formhead-bg:#f6f6f6;
$date-text:rgba(0, 0, 0,.5);

$content-text:#2c2c2c;
$gray-text:#acacac;
$box-shadow:rgba(0, 0, 0,.2); 

$cashIn:darken($green,10%);
$cashOut:darken($blue,10%);
$pending:#848484;
$confirm:#f7814d;
$error:rgb(236, 46, 20);
$detail-bg:#fcf8e3;
$under-line:rgba(0, 0, 0,.1);



$new-badge:#3faefb;
$popular-badge:#f7814d;
$high-badge:#f26d7d;
$end-badge:#006980;