/* === 寬高縮寫 === */
@mixin size($width, $height) {
    width: $width;
    height: $height;
}
/* === 寬高縮寫 finish === */

/* === float清除 === */
@mixin pie-clearfix {
    &:after,
    &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom:1;
}
/* === float清除 finish  === */
/* === 字體樣式系列  === */
// text-hidden
@mixin hidden-text {
    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* === 字體樣式系列 finish === */

/*==== 系列DIV上下置中 =====*/
@mixin box-vertical-align {
    &::before {
        content: '';
        width: 0;
        height: 100%;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        background: #f00;
    }
}
@mixin vertical-center{
    transform: translateY(-50%);
    top: 50%;
}

/*==== 系列DIV上下置中 finsih =====*/


// 如果你超厭煩寫media很長的名字這只能用在class裡面
// mixin變數
// 判斷變數是pc、pad還是mobile，再依照判斷出來的載入對應的media query
@mixin breakpoint($point) {
    @if $point==min_pc {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }
    @if $point==min_pad {
        @media only screen and (min-width: 460px) {
            @content;
        }
    }
    @if $point==min_mobile {
        @media only screen and (min-width: 280px) {
            @content;
        }
    }
    @if $point==pc {
        @media only screen and (max-width: 1024px) {
            @content;
        }
    }
    @if $point==pad {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }
    @if $point==736 {
        @media only screen and (max-width: 736px) {
            @content;
        }
    }
    @if $point==376_mobile {
        @media only screen and (max-width: 376px) {
            @content;
        }
    }
    @if $point==mobile {
        @media only screen and (max-width: 320px) {
            @content;
        }
    }
    @if $point==480_mobile {
        @media only screen and (max-width: 480px) {
            @content;
        }
    }
}