@charset "UTF-8";
/* === 寬高縮寫 === */
/* === 寬高縮寫 finish === */
/* === float清除 === */
/* === float清除 finish  === */
/* === 字體樣式系列  === */
/* === 字體樣式系列 finish === */
/*==== 系列DIV上下置中 =====*/
/*==== 系列DIV上下置中 finsih =====*/
/* Icon 1 */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
#nav-icon1,
#nav-icon2,
#mob-nav-icon,
#nav-icon4 {
  width: 50px;
  height: 42px;
  padding: 15px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon1 span,
#mob-nav-icon span,
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

/* Icon 3 */
#mob-nav-icon span:nth-child(1) {
  top: 0px; }

#mob-nav-icon span:nth-child(2),
#mob-nav-icon span:nth-child(3) {
  top: 9px; }

#mob-nav-icon span:nth-child(4) {
  top: 18px; }

#mob-nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#mob-nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#mob-nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#mob-nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

/* Icon 3 */
#mob-nav-icon span:nth-child(1) {
  top: 0px; }

#mob-nav-icon span:nth-child(2),
#mob-nav-icon span:nth-child(3) {
  top: 18px; }

#mob-nav-icon span:nth-child(4) {
  top: 36px; }

#mob-nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#mob-nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#mob-nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#mob-nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

* {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro','Helvetica Neue','Helvetica','Arial',sans-serif; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  line-height: 1.75;
  background-color: #f5fcfc; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.5; }

h1 {
  font-size: 4.8rem; }

h2 {
  font-size: 4.2rem; }

h3 {
  font-size: 3.6rem; }

h4 {
  font-size: 3rem; }

h5 {
  font-size: 2.4rem; }

h6 {
  font-size: 1.8rem; }

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.content-wrapper {
  padding: 70px 1rem 0; }

.card-frame {
  width: 100%;
  padding: 1rem 2rem;
  margin: 1rem auto;
  -webkit-box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  background-color: #fff; }
  .card-frame h6 {
    color: #7b7b7b; }
  .card-frame p {
    margin: 0 0 .5rem;
    line-height: 1.2; }

.top-info .breadcrumb {
  background-color: inherit;
  font-size: 1.2rem;
  line-height: 3.5rem;
  float: left;
  margin: 0;
  padding: 0; }
  .top-info .breadcrumb a {
    color: #b8b9b9; }

.top-info .rating {
  width: 15rem;
  color: #52d3aa;
  border: 1px solid #52d3aa;
  border-radius: 5px;
  float: right;
  padding-left: 1rem; }
  .top-info .rating img {
    width: 2rem;
    height: auto;
    margin-right: 10px; }
  .top-info .rating .rating-level {
    padding-left: 1rem;
    font-weight: bold;
    font-size: larger; }

.view-all {
  color: #3f95ea;
  float: right;
  font-size: 1.2rem;
  cursor: pointer; }
  .view-all:hover, .view-all :active, .view-all :focus {
    color: #f7941d; }

header {
  font-family: "Lato",sans-serif;
  *zoom: 1; }
  header:after, header:before {
    content: "";
    display: table; }
  header:after {
    clear: both; }
  header .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px; }
  header .header-nav-wrapper {
    padding: 5px; }
  header .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  header .sidenav a:hover {
    color: #f1f1f1; }
  header .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }
  header #main {
    -webkit-transition: margin-left .5s;
    -o-transition: margin-left .5s;
    transition: margin-left .5s;
    padding: 16px; }

.mob-header-bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.currunt-loan h6 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.currunt-loan .day-left {
  color: #b8b9b9;
  font-size: 1.2rem; }
  .currunt-loan .day-left span {
    color: #52d3aa;
    font-size: 1.6rem;
    font-weight: bolder;
    padding: 0 5px; }

.pie-box {
  text-align: center; }

.pie-chart {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#52d3aa), to(#3f95ea));
  background: -webkit-linear-gradient(#52d3aa, #3f95ea);
  background: -o-linear-gradient(#52d3aa, #3f95ea);
  background: linear-gradient(#52d3aa, #3f95ea);
  position: relative;
  margin: 3rem auto; }
  .pie-chart.gt-50 {
    background: #f7941d; }

.pc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 10rem);
  top: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  clip: rect(0, 20rem, 20rem, 10rem); }
  .pc-progress .pc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 10rem);
    top: calc(50% - 10rem);
    width: 20rem;
    height: 20rem;
    clip: rect(0, 10rem, 20rem, 0);
    background-color: #f7941d;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg); }
  .gt-50 .pc-progress {
    clip: rect(0, 10rem, 20rem, 0); }
    .gt-50 .pc-progress .pc-progress-fill {
      clip: rect(0, 20rem, 20rem, 10rem);
      background: -webkit-gradient(linear, left top, left bottom, from(#52d3aa), to(#3f95ea));
      background: -webkit-linear-gradient(#52d3aa, #3f95ea);
      background: -o-linear-gradient(#52d3aa, #3f95ea);
      background: linear-gradient(#52d3aa, #3f95ea); }

.pc-info {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 15.38462rem/2);
  top: calc(50% - 15.38462rem/2);
  width: 15.38462rem;
  height: 15.38462rem;
  background: #fff;
  text-align: center;
  display: table; }
  .pc-info .goal,
  .pc-info .current {
    color: #7b7b7b;
    padding-bottom: .1rem;
    margin-top: .5rem; }
  .pc-info .goal-amount {
    color: #3f95ea;
    font-size: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 1;
    margin-top: .5rem; }
  .pc-info .current-amount {
    color: #f7941d;
    font-size: 2.6rem;
    line-height: 1;
    margin-top: .5rem; }

.percents-wrapper {
  display: table-cell;
  vertical-align: middle; }

.current-invest h6 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.current-invest .invest-total li:last-child {
  font-size: 3rem;
  font-weight: bold;
  color: #3f95ea; }

.current-invest .invest-detail {
  border-left: 1px solid #7c7c7c;
  padding-left: 1rem; }
  .current-invest .invest-detail li {
    margin-bottom: 10px; }
  @media only screen and (max-width: 768px) {
    .current-invest .invest-detail {
      border-left: none;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      margin: 10px 0 0;
      padding: 10px 0 0; } }

.current-invest li {
  color: #acacac;
  line-height: 1.3; }
  .current-invest li span {
    padding-left: 5px;
    font-weight: 600; }

.transaction-table .t-head {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.transaction-table .t-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .transaction-table .t-body .t-row {
    width: 100%;
    padding: .5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .transaction-table .t-body .t-row > div {
      min-width: 33%;
      -ms-flex-item-align: center;
      align-self: center; }
    .transaction-table .t-body .t-row > div:first-child {
      font-size: 2rem; }
      @media only screen and (max-width: 500px) {
        .transaction-table .t-body .t-row > div:first-child {
          font-size: 1.8rem;
          line-height: 1.3; } }
    .transaction-table .t-body .t-row > div:last-child {
      font-size: 2.5rem;
      text-align: right; }
      @media only screen and (max-width: 500px) {
        .transaction-table .t-body .t-row > div:last-child {
          font-size: 2rem;
          line-height: 1.3; } }
  .transaction-table .t-body .date {
    font-size: 1.2rem;
    padding: 0 .2rem;
    line-height: 1;
    text-align: left;
    color: rgba(0, 0, 0, 0.5); }
  .transaction-table .t-body .cashIn {
    color: #31c193; }
    .transaction-table .t-body .cashIn > div:first-child {
      color: #31c193; }
      .transaction-table .t-body .cashIn > div:first-child:before {
        font-family: "Glyphicons Halflings";
        content: "\e027";
        position: relative;
        left: -5px;
        top: 3px; }
  .transaction-table .t-body .cashOut {
    color: #187cde; }
    .transaction-table .t-body .cashOut > div:first-child:before {
      font-family: "Glyphicons Halflings";
      content: "\e026";
      position: relative;
      left: -5px;
      top: 3px; }
  .transaction-table .t-body .pending:before {
    font-family: "Glyphicons Halflings";
    content: "\e023";
    position: relative;
    left: calc(50% - 2rem);
    font-size: 3rem;
    color: #848484; }
  .transaction-table .t-body .confirm:before {
    font-family: "Glyphicons Halflings";
    content: "\e089";
    position: relative;
    left: calc(50% - 2rem);
    font-size: 3rem;
    color: #f7814d; }
  .transaction-table .t-body .error:before {
    font-family: "Glyphicons Halflings";
    content: "\e088";
    position: relative;
    left: calc(50% - 2rem);
    font-size: 3rem;
    color: #ec2e14; }

.announce-content h6 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.announce-content .announ-list .date {
  width: 100%;
  text-align: right;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.announce-content .announ-list li p:first-child {
  color: #52d3aa; }

.announce-content .announ-list li:last-child .date {
  border-bottom: none; }

/*# sourceMappingURL=alchemy_style.css.map */