block header	
	header
		.header-nav-wrapper
			#mob-nav-icon
				span
				span
				span
				span
			.account-wrapper
				button#profile-detail
					| adminXXXXXXX123
					i.icon-chevron-down
				.drop-wrapper
					a.dropdown-item(href='#') My Profile
					a.dropdown-item(href='#') Log Out
			.customer-icon
				i.icon-bell-o
		#alch-back.sidenav
			a(href='#')
				img(src='../public/images/logo.png')
			a(href='#')
				i.icon-dashboard
				span Dashboard
				span.icon-plus
			a(href='#')
				i.icon-paperclip 
				span Start a New Loan
				span.icon-plus
			.second-nav-bar
				a(href='#')
					i.icon-chevron-right 
					span Detail
				a(href='#')
					i.icon-chevron-right 
					span Detail
				a(href='#')
					i.icon-chevron-right  
					span Detail
				a(href='#')
					i.icon-chevron-right  
					span Detail
			a(href='#')
				i.icon-paperclip 
				span My Loan
				span.icon-plus
			.second-nav-bar
				a(href='#')
					i.icon-chevron-right 
					span Detail
				a(href='#')
					i.icon-chevron-right 
					span Detail
				a(href='#')
					i.icon-chevron-right  
					span Detail
				a(href='#')
					i.icon-chevron-right  
					span Detail
			a(href='#')
				i.icon-cog 
				span Setting
				span.icon-plus
	.grandient-bg
		//- .container-fluid.js-container-wrapper
		.mob-header-bg