//圓餅圖
@mixin circle($size) {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - #{$size/2});
    top: calc(50% - #{$size/2});
    width: $size;
    height: $size;
}

$size: 20rem;
.currunt-loan {
    h6 {
        border-bottom: 1px solid $under-line;
    }
    .day-left {
        color: $day-left-text;
        font-size: 1.2rem;
        span {
            color: $green;
            font-size: 1.6rem;
            font-weight: bolder;
            padding: 0 5px;
        }
    }
}

.pie-box {
    text-align: center;
}

.pie-chart {
    width: $size;
    height: $size;
    border-radius: 50%;
    background: $piechart-bg;
    position: relative;
    margin: 3rem auto;
    &.gt-50 {
        background: $orange;
    }
}

.pc-progress {
    @include circle($size);
    clip: rect(0, $size, $size, #{$size/2});
    .pc-progress-fill {
        @include circle($size);
        clip: rect(0, #{$size/2}, $size, 0);
        background-color: $orange;
        transform: rotate(60deg);
    }
    .gt-50 & {
        clip: rect(0, #{$size/2}, $size, 0);
        .pc-progress-fill {
            clip: rect(0, $size, $size, #{$size/2});
            background: $piechart-bg;
        }
    }
}

//圓餅圖中心顯示資料
.pc-info {
    @include circle(#{$size/1.3});
    background: #fff;
    text-align: center;
    display: table;
    .goal,
    .current {
        color: $gray-title;
        padding-bottom: .1rem;
        margin-top: .5rem;
    }
    .goal-amount {
        color: $blue;
        font-size: 3rem;
        border-bottom: 1px solid $under-line;
        line-height: 1;
        margin-top: .5rem;
    }
    .current-amount {
        color: $orange;
        font-size: 2.6rem;
        line-height: 1;
        margin-top: .5rem;
    }
}

.percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}
//Lender Dashboard
.current-invest{
    h6{
        border-bottom: 1px solid $under-line;
    }
    .invest-total{
        li:last-child{
            font-size: 3rem;
            font-weight: bold;
            color: $blue;
        }
    }
    .invest-detail{
        border-left: 1px solid #7c7c7c;
        padding-left:1rem;
        li{
            margin-bottom: 10px;
        }
        @media only screen and (max-width:768px) {
            border-left: none;
            border-top: 1px solid $under-line;
            margin:10px 0 0;
            padding:10px 0 0;
           }
    }
    li{
        color:$gray-text;
        line-height: 1.3;
        span{
            padding-left: 5px;
            font-weight:600;
        }
    }
}

//Lender dashboard 表格
.transaction-table {
    .t-head {
        width: 100%;
        background-color: $formhead-bg;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
    }
    .t-body {
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;
        .t-row {
            width: 100%;
            padding: .5rem 1rem;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $under-line;
            background-color:none;
            &:hover{
                background-color:darken($formhead-bg,3%);
                cursor: pointer;
            }
            >div{
                min-width:33%;
                align-self: center;
            }
            >div:first-child{
               font-size: 2rem;
               @media only screen and (max-width:500px) {
                font-size: 1.8rem;   
                line-height:1.3;
               }
            }
            >div:last-child{
                font-size: 2.5rem;
                text-align: right;
                @media only screen and (max-width:500px) {
                    font-size: 2rem;   
                    line-height:1.3;
                   }
            }
        }
        .date{
            font-size: 1.2rem;
            padding:0 .2rem;
            line-height: 1;
            text-align: left;
            color: $date-text;
        }
        .cashIn{
            color:$cashIn;
            >div:first-child {
            color: $cashIn;
            &:before {
                font-family: "Glyphicons Halflings";
                content: "\e027";
                position: relative;
                left: -5px;
                top: 3px;
            }}
        }
        .cashOut{
            color: $cashOut;
            >div:first-child {

            &:before {
                font-family: "Glyphicons Halflings";
                content: "\e026";
                position: relative;
                left: -5px;
                top: 3px;
            }}
        }
        .pending {
            &:before {
                font-family: "Glyphicons Halflings";
                content:"\e023";
                position: relative;
                left:calc(50% - 2rem);
                font-size: 3rem;
                color: $pending;
            }
        }
        .confirm {
            &:before {
                font-family: "Glyphicons Halflings";
                content:"\e089";
                position: relative;
                left:calc(50% - 2rem);
                font-size: 3rem;
                color: $confirm;
            }
        }
        .error {
            &:before {
                font-family: "Glyphicons Halflings";
                content:"\e088";
                position: relative;
                left:calc(50% - 2rem);
                font-size: 3rem;
                color: $error;

            }
        }
    }
}
ul[id^=detail]{
    width: 100%;
    padding: 0 2rem;
    margin-top: 3px;
    background-color:$detail-bg;
    border-radius: 5px;
    .switch{
        text-align: center;
        font-size: large;
        border-top: 1px solid $form-hover;
        color: $form-label;
        &:hover{
            color: lighten(#27bdbe,5%);
        }
    }
}

.announce-content {
    h6 {
        border-bottom: 1px solid $under-line;
    }
    .announ-list {
        .date {
            width: 100%;
            text-align: right;
            color: $date-text;
            border-bottom: 1px solid $under-line;
        }
        li p:first-child {
            color: $green;
        }
        li:last-child {
            .date {
                border-bottom: none;
            }
        }
    }
}