@mixin circle($size) {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - #{$size/2});
    top: calc(50% - #{$size/2});
    width: $size;
    height: $size;
}

$size: 20rem;
.currunt-loan {
    h6 {
        color: $gray-title;
        border-bottom: 1px solid $under-line;
    }
    .day-left {
        color: $day-left-text;
        font-size: 1.2rem;
        span {
            color: $green;
            font-size: 1.6rem;
            font-weight: bolder;
            padding: 0 5px;
        }
    }
}

.pie-box {
    text-align: center;
}

.pie-chart {
    width: $size;
    height: $size;
    border-radius: 50%;
    background: $piechart-bg;
    position: relative;
    margin: 3rem auto;
    &.gt-50 {
        background: $orange;
    }
}

.pc-progress {
    @include circle($size);
    clip: rect(0, $size, $size, #{$size/2});
    .pc-progress-fill {
        @include circle($size);
        clip: rect(0, #{$size/2}, $size, 0);
        background-color: $orange;
        transform: rotate(60deg);
    }
    .gt-50 & {
        clip: rect(0, #{$size/2}, $size, 0);
        .pc-progress-fill {
            clip: rect(0, $size, $size, #{$size/2});
            background: $piechart-bg;
        }
    }
}

.pc-info {
    @include circle(#{$size/1.3});
    background: #fff;
    text-align: center;
    display: table;
    .goal,
    .current {
        color: $gray-title;
        padding-bottom: .1rem;
        margin-top: .5rem;
    }
    .goal-amount {
        color: $blue;
        font-size: 3rem;
        border-bottom: 1px solid $under-line;
        line-height: 1;
        margin-top: .5rem;
    }
    .current-amount {
        color: $orange;
        font-size: 2.6rem;
        line-height: 1;
        margin-top: .5rem;
    }
}

.percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.announce-content {
    h6 {
        color: $gray-title;
        border-bottom: 1px solid $under-line;
    }
    .announ-list {
        .date {
            width: 100%;
            text-align: right;
            color: $date-text;
            border-bottom: 1px solid $under-line;
        }
        li p:first-child {
            color: $green;
        }
        li:last-child {
            .date {
                border-bottom: none;
            }
        }
    }
}