//  detail lender
.investments-table {
    text-align: center;
    ul.t-head {
        width: 100%;
        background: gray;
        display: flex;
        justify-content: space-around;
        li {
            width: 24%;
            color: #fff;
            display: inline-block;
        }
        border-bottom: 1px solid $under-line;
    }
    .t-body {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .t-row {
            width: 100%;
            padding: .5rem 1rem;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $under-line;
            background-color: none;
            &:hover {
                background-color: darken($formhead-bg, 3%);
                cursor: pointer;
            }
        }
    }
    .investments-status {
        &:nth-child(even) {
            background-color: #fbfbfb;
        }
        >div {
            width: 24%;
            display: inline-block;
            text-align: center;
            justify-content: space-around;
            &:first-child,
            &:nth-child(3) {
                color: $blue;
                font-size: 1.8rem;
            }
            &:nth-child(2) {
                color: gray;
                font-size: 1.8rem;
                font-weight: bold;
            }
            &:last-child {
                font-size: 1.5rem;
            }
        }
    }
}

//borrower detail
.b-detail-card {
    position: relative;
    .purpose {
        word-spacing: 1;
        position: relative;
        color: $gray-title;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .card-rating {
        @extend .purpose;
        &:before {
            content: '';
            display: block;
            width: 5px;
            height: 4rem;
            background-color: rgb(55, 89, 205);
            position: absolute;
            left: -2rem;
            top: 5px;
        }
    }
    .instellment {
        text-align: center;
        font-size: 2.5rem;
        p {
            font-size: 1.3rem;
        }
    }
    .total,
    .goal {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 600;
        span {
            font-size: 2rem;
            color: $gray-text;
            margin-left: 5px;
        }
    }
    .goal {
        span {
            color: $blue;
        }
    }
    span {
        font-size: 1.5rem;
    }
    .dueDate{
        i{
            padding-right:5px;
            color:$date-text;
        }
    }
    .day-left {
        color: $date-text;
        font-size: 1.8rem;
    }
}