.newloan-nav {
    min-height: 70px;
    width: calc(100% - 250px);
    background-color: $newLoan-nav-bg;
    display: flex;
    counter-reset: section;
    justify-content: center;
    align-items: stretch;
    position: relative;
    top: 50px;
    left: 250px;
    z-index: 2;
    flex-wrap: wrap;
    @media only screen and (max-width: 1023px) {
        width: 350vw;
        left: 0px;
    }
    li {
        display: flex;
        align-items: center;
        min-width: 14%;
        margin: 0 auto;
        line-height: 1.2;
        color: $gray-title;
        span {
            margin: 0 auto;
            &:before {
                counter-increment: section;
                content: counter(section);
                display: inline-block;
                margin-right: 5px;
                text-align: center;
                background: #fff;
                width: 3rem;
                border-radius: .9rem;
                border: 1px solid #7b7b7b;
                color: #7b7b7b;
            }
        }
        &.active {
            background-color: #B9ECDE;
            color: $green;
            padding: 0 10px;
            span:before {
                background: $orange;
                color: #eee;
                border: none;
            }
        }
    }
}

.newloan-form {
    h6 {
        color: $blue;
    }
    label {
        width: 100%;
        color: $form-label;
    }
    font-size: 1.2rem;
    span {
        color: indianred;
    }
}

.popMsg {
    text-align: right;
    margin-top: -3px;
    color: #7b7b7b;
    font-weight: 300;
    &:before {
        font-family: "Glyphicons Halflings";
        content: "\e101";
        padding-right: 3px;
        font-size: 1rem;
        color: indianred;
    }
}

.form-control {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid $form-line;
    border-radius: 0;
    &:focus {
        border-color: $green;
        box-shadow: none;
    }
}

.form-control::-moz-placeholder {
    color: #cddedd;
    opacity: 1;
    font-weight: 500;
}

.form-control:-ms-input-placeholder {
    color: #cddedd;
    font-weight: 500;
}

.form-control::-webkit-input-placeholder {
    color: #cddedd;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .newloan-nav {
        justify-content: space-between;
        width: 350vw;
        flex-wrap: nowrap;
        min-height: 70px;
        li {
            width: 50vw;
            margin: 0;
            padding: 0 10px;
            height: 70px;
            &.active {
                background-color: unset;
                position: relative;
                &:after {
                    font-family: "Glyphicons Halflings";
                    content: "\e092";
                    position: absolute;
                    right: 0;
                    font-size: 2rem;
                    color: #ccc;
                }
            }
        }
        .step7.active {
            width: 100vw;
            &:after {
                content: " ";
                position: absolute;
                right:-50vw;
                background-color: $newLoan-nav-bg;
                width: 50vw;
                height: 70px;
            }
        }
    }
}