    .installment {
    h6 {
        border-bottom: 1px solid $under-line;
    }
    .n-payment,
    .t-amount {
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }
    .sub-title{
        color: lighten($gray-title,10%);
        text-align: center;
        margin-bottom: 1rem;
        font-weight: 600;
    }
    p {
        color: $gray-text;
    }
    .blue-text {
        color: $blue;
        font-size: larger;
        margin: 0 2px;
    }
    .orange-text {
        color: $orange;
        font-size: larger;
        margin: 0 2px;
    }
    .gray-text {
        color: $gray-title;
        font-size: larger;
        margin: 0 2px;
    }
    a.btn.green-btn {
        width: 40%;
        margin: 2rem auto;
        display: block;
    }
    .t-head {
        height: 35px;
        &[aria-expanded="false"]::after {
            font-family: "Glyphicons Halflings";
            content: "\e114";
            position: absolute;
            right: 1rem;
            top: 3px;
            color: #562520;
        }
        &[aria-expanded="true"]::after {
            font-family: "Glyphicons Halflings";
            content: "\e113";
            position: absolute;
            right: 1rem;
            top: 3px;
            color: #562520;
        }
    }
    .t-body.collapse {
        display: none;
        transition: .5s;
        position: relative;
        &.in {
            display: block;
            transition: .5s;
        }
    }
    .t-row {
        &:hover {
            cursor: none;
        }
        >div {
            text-align: center;
            width: 49%
        }
    }

    .install-table {
        position: relative;
    }
}

@media only screen and (max-width: 768px) {
    .installment {


        .n-payment,
        .t-amount {
            width: 70%;
            text-align: left;
            margin: 0px 15%;
        }
        .t-amount {
            margin-top: 20px;
        }

        // .progress {
        //     width: 80%;
        //     margin: 0 auto;
        // }
    }
}